version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: celery_worker
    command: celery -A spassu worker -l info
    volumes:
      - .:/app
      - ./media:/app/media
    env_file:
    - .env
    environment:
    - CELERY_BROKER_URL=${CELERY_BROKER_URL_DOCKER}
    depends_on:
      - redis
